.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(lightgreen 0% 50%, white );
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  font-size: 1.4em;
  font-style: oblique;
}

.App-title {
  font-size: 1.5em;
}
.images {
  /* display: grid;
  grid-row: span;
  gap: 25px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

